[user]
  name = Unai Ruiz
[init]
  defaultBranch = main
[push]
  followTags = true
[alias]
  lg = log --graph --decorate --all
  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

